############
## Project
############

.build/
vendor/
composer.lock
assets/*
views/*
*~


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Vagrant
############
.vagrant/
provisioning/
Vagrantfile


############
## PHPStorm
############
.idea/
